
html{
	height: 100%;
}

body{
	margin: 0;
	font-family: 'Inconsolata', monospace;
}

nav{
	position: fixed;
	z-index: 1;
	left: 0;
	right: 0;
	font-family: 'Prata', serif;
	font-size: 22px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Prata', serif;
	font-weight: normal;
}

h1{
	font-size: 150px;
}

h2{
	font-size: 100px;
}

.works h2{
	color: #4dc2bd;
}

.myteam h2{
	color: #003170;
}

.contact h2{
	color: #f3747b;
}

h3{
	font-size: 50px;
}

.works h3{
	color: #0e726f;
}

.myteam h3{
	color: #306fbf;
}

h4{
	font-size: 32px;
	color: #16736e;
	background-color: #75e3dd;
}

.navigation li{
	display: inline-block;
	margin:  0 25px;
	color: #27bcb8;
}

.navigation{
	text-align: center;
}

.left-col, .right-col {
	color:  #fff;
	text-align: center;
}

.left-col{
	background-color: #003170;
}
	

.right-col{
	background-color: #75e3dd;
}

.scroll {
	text-align: center;
	color: #2864b1;
	font-size: 18px;
}

img{
	max-width: 100%;
}

footer{

	background-color: #f5979c;
}

.social-icon{
	height: 60px;
	margin: 10px 20px;
}

.social-icons-container{
	text-align: center;
}
